extends layout
block content
    #content.content
        h1=message
        .row
            .col-lg-3.col-md-6
             .widget.widget-stats.bg-red
                .stats-icon
                    i.fa.fa-desktop
                .stats-info
                    h4 TABUNG 1
                    p#tabung1 0
                .stats-link
                 a(href='javascript:;') View Detail 
                  i.fa.fa-arrow-alt-circle-right
            .col-lg-3.col-md-6
             .widget.widget-stats.bg-orange
                .stats-icon
                    i.fa.fa-link
                .stats-info
                    h4 TABUNG 2
                    p#tabung2 0
                .stats-link
                 a(href='javascript:;') View Detail 
                  i.fa.fa-arrow-alt-circle-right
            .col-lg-3.col-md-6
             .widget.widget-stats.bg-grey-darker
                .stats-icon
                    i.fa.fa-users
                .stats-info
                    h4 TABUNG 3
                    p#tabung3 0
                .stats-link
                 a(href='javascript:;') View Detail 
                  i.fa.fa-arrow-alt-circle-right
            .col-lg-3.col-md-6
             .widget.widget-stats.bg-black-lighter
                .stats-icon
                    i.fa.fa-clock
                .stats-info
                    h4 TABUNG 4
                    p#tabung4 0
                .stats-link
                 a(href='javascript:;') View Detail 
                  i.fa.fa-arrow-alt-circle-right