//- begin #header
#header.header.navbar-default
    //- begin navbar-header
    .navbar-header
      a.navbar-brand(href='#')
        span.navbar-logo
        b Color
        |  Admin
      button.navbar-toggle(type='button' data-click='sidebar-toggled')
        span.icon-bar
        span.icon-bar
        span.icon-bar
    //- end navbar-header
    //- begin header-nav
    ul.navbar-nav.navbar-right
      li
        form.navbar-form
          .form-group
            input.form-control(type='text' placeholder='Enter keyword')
            button.btn.btn-search(type='submit')
              i.fa.fa-search
      li.dropdown
        a.dropdown-toggle.f-s-14(href='javascript:;' data-toggle='dropdown')
          i.fa.fa-bell
          span.label 5
        ul.dropdown-menu.media-list.dropdown-menu-right
          li.dropdown-header NOTIFICATIONS (5)
          li.media
            a(href='javascript:;')
              .media-left
                i.fa.fa-bug.media-object.bg-silver-darker
              .media-body
                h6.media-heading
                  | Server Error Reports 
                  i.fa.fa-exclamation-circle.text-danger
                .text-muted.f-s-11 3 minutes ago
          li.media
            a(href='javascript:;')
              .media-left
                img.media-object(src='../assets/img/user/user-1.jpg' alt='')
                i.fab.fa-facebook-messenger.text-primary.media-object-icon
              .media-body
                h6.media-heading John Smith
                p Quisque pulvinar tellus sit amet sem scelerisque tincidunt.
                .text-muted.f-s-11 25 minutes ago
      li.dropdown.navbar-user
        a.dropdown-toggle(href='javascript:;' data-toggle='dropdown')
          img(src='../assets/img/user/user-13.jpg' alt='')
          span.d-none.d-md-inline Adam Schwartz
          b.caret
        .dropdown-menu.dropdown-menu-right
          a.dropdown-item(href='javascript:;') Edit Profile
          a.dropdown-item(href='javascript:;') Setting
          .dropdown-divider
          a.dropdown-item(href='javascript:;') Log Out
    //- end header navigation right
//- end #header