#sidebar.sidebar
  div(data-scrollbar='true' data-height='100%')
    ul.nav
      li.nav-profile
        a(href='javascript:;' data-toggle='nav-profile')
          .image
            img(src='../assets/img/user/user-13.jpg' alt='')
          .info
            b.caret.pull-right
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Sean Ngu
            small Front end developer